.entireSingleBigListing {
  height: 70vh;
  width:100%
}

.leftSideContainer {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 70vh;
  width: 40%;
}

.bigListingName {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
}

.bigListingImageContainer {
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 2%;
  overflow: scroll;
  width: 80%;
}

.bigListingImage {
width: 75%;
height: auto;
border: 2px solid black;
border-radius: 3px;
box-shadow: 1.5px 1.5px #ADDBE4;
margin: 2%;
}

.rightSideContainer {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10%;
  width: 30%;
  height:10vh;
}

.bigListingBedBathCount {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  width: 100%;
}

.costPerNight {
  color: black;
  margin-left: 18%;
}

.areaInfo {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.someFeatures {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}