.entireSingleBigListing {
  height: 100vh;
  width: 100%;
}

.big-listing-info {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  height: 75%;
  margin: 0 auto;
  width: 80%;
}

.big-listing-main,
.big-listing-aside {
  background-color: #4037a7;
  color: white;
  height: 85%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
  width: 50%;
}

.big-listing-aside {
  margin-left: 2%;
}

.big-listing-main {
  margin-right: 2%;
}

.left-side-header {
  align-items: center;
  display: flex;
}

.bigListingName {
  font-size: 25px;
}

.bigListingImageContainer {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 2%;
  overflow: scroll;
  width: 80%;
}

.bigListingImage {
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 1.5px 1.5px #addbe4;
  height: auto;
  margin: 2%;
  width: 75%;
}

.bigListingBedBathCount {
  font-size: 25px;
  width: 100%;
}

.costPerNight {
  font-style: normal;
  margin-left: 10%;
}

.someFeatures {
  font-size: 16px;
}

.favorite-star-big-listing {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.favorite-star-big-listing:hover {
  transform: scale(1.1);
}
