/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap') */

/* .App {} */

body, html {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.App, #root {
  height: 100%;
}





@media screen and (max-width: 850px) {
  .App {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
  }
}
