/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap') */

/* .App {} */

header {
  height: 10%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  background-color: #7F9EEF;
  /* border: 1px solid black; */

}

.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  width: 100%;

}

.nav {
  margin-left: 3%;
  justify-content: space-around;
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif
}

.nav:visited {
  color: black;
  /* text-decoration: none; */
}

.active {
  font-style: italic;
  border-bottom: 5px solid black;
}

h1 {
  margin: 0;
  font-size: 50px;
  background-color: #4037A7;
  color: white;
  font-weight: bold;
  padding: 0 2%;
}

@media screen and (max-width: 850px) {
  .App {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
  }
}
