.individual-listing {
    box-sizing: border-box;
    border: 3px solid #4037A7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #809eff;
    border-radius: 4px;
    height: 250px;
    width: 300px;
    margin: 15px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}

.listing-image {
text-align: center;
margin-top: -15px;
height: 150px;
width: 200px;
border-radius: 10px;
}

.listing-button {
color: whitesmoke;
align-items: center;
text-align: center;
background-color: #4037A7;
font-family: comic;
border: 1px solid whitesmoke;
border-radius: 4px;
padding: 3px;
cursor: pointer;
height:35px;
width: 120px;
font-size: .9em;
font-weight: bold;
transition: all 0.2s ease-in-out;
margin-top: 5px;
}

.individual-listing h3 {
  color: #4037A7;
  margin-top: -20px;
  margin-bottom: 30px;
  font-family: comic;
}

.listing-button:hover {
transform: scale(1.1);
}

.favorite-star {
  position: relative;
  right: 126px;
  top: 205px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.favorite-star:hover {
transform: scale(1.1);
}
