
.area-box {
  box-sizing: border-box;
  border: 3px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4037A7;
  border-radius: 4px;
  height: 450px;
  width: 500px;
  margin: 15px;
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}


.area-image {
text-align: center;
margin-top: -15px;
height: 250px;
width: 350px;
border-radius: 10px;
}


.area-title,
.area-location,
.area-description {
  margin-top: 3px;
  color: whitesmoke;
  font-family: comic;
  text-align: center;
  font-size: 1.5em;
}

.area-description {
  font-size: .9em;
  margin-top: -15px;
  padding-left: 10px;
  padding-right: 10px;
}

.area-location {
  font-size: 1.1em;
  margin-top: -20px;
  font-style: oblique;
  color: #ADDBE4;
}

.area-button {
color: #4037A7;
align-items: center;
text-align: center;
background-color: #ADDBE4;
font-family: comic;
border: 1px solid whitesmoke;
border-radius: 4px;
padding: 0 15px;
cursor: pointer;
height:32px;
width: 60%;
font-size:1.3em;
font-weight: bold;
transition: all 0.2s ease-in-out;
/* margin-left: 65px; */
}
.area-button:hover {
transform: scale(1.1);
}
