.area-container {
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5116421568627452) 0%), url("https://www.monaco-denver.com/images/1700-960/denver-downtown-buildings-mountains-boutique-33b2fcd3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.area-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #4037A7;
  font-weight: bolder;
}

.personal-greeting {
margin-left: 50px;
font-size: 1.5em;
}



.personal-greeting span {
  font-style: italic;
  text-transform: capitalize;
  color: #4037A7;
}

.area-container-locations {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
