.area-container {
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5116421568627452) 0%), url(../../images/denver.jpg);
  background-repeat: repeat;
  height: 100vh;
  overflow: scroll;
}


.area-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #4037A7;
  font-weight: bolder;
}

.personal-greeting {
  margin-right: 10px;
  font-size: 1.2em;
  margin-top: -10px;
}
.area-header h2 {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.7em;
}

.personal-greeting span {
  /* font-style: italic; */
  /* text-transform: capitalize; */
  color: #4037A7;
}

.area-container-locations {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
