.area-container {
  height: 100vh;
  overflow: scroll;
}


.area-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  color: #4037A7;
  font-weight: bolder;
}

.personal-greeting {
  margin-right: 10px;
  font-size: 1.2em;
}
.area-header h2 {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.7em;
}

.personal-greeting span {
  color: #4037A7;
}

.area-container-locations {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
